@use "util";
@use "sass:color";

body {
    perspective: 10;
}

#navbar {
    --clr: white;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    height: 4rem;
    padding: 0.5rem 1.25rem;
    // background-color: var(--light-100);
    backdrop-filter: blur(0.5rem);
    color: var(--clr);
    transition: 0.3s ease;

    &.passed {
        // border-bottom: 2px solid rgba(#333, 0.5);
        box-shadow: 0 5px 2rem rgba(black, 0.3);
        // background-color: var(--dark-500);
        background-color: var(--light-100);

        .container {
            span {
                color: var(--primary-100);
                // color: var(--dark-500);
            }

            a {
                // color: white;
                color: black !important;

                @include util.onfocus {
                    color: white !important;
                }
            }
        }
    }

    .container {
        font-weight: 500;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        span {
            font-size: 1.45rem;
            font-weight: bolder;
            color: var(--primary-500);
        }

        .menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            // gap: 1rem;

            a {
                padding: 0.5em 1.5em;
                border-radius: 20rem;
                color: var(--clr);
                letter-spacing: 1px;
                transition: 0.1s ease;
                // background: transparent;

                @include util.onfocus {
                    background: util.pGradient();
                    color: white;
                }
            }
        }
    }
}

#header {
    position: relative;
    background-image: url(../assets/hero.jpg);
    background-size: cover;
    background-position: bottom center;
    isolation: isolate;
    width: 100vw;
    height: 100vh;
    padding-block: 2rem;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background: util.pGradient(145deg);
        filter: brightness(0.15) contrast(0.85);
        opacity: 0.65;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 10rem;
        background: linear-gradient(to top, var(--dark-200), transparent);
    }

    #hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height: 100%;
        margin-inline: auto;
        max-width: var(--max-width);
        overflow: hidden !important;

        .title {
            position: relative;
            font-size: 3rem;
            font-weight: bolder;
            text-transform: uppercase;
            transition: 0.3s all ease, top 0s, font-size 0s !important;
        }

        a {
            position: relative;
            transition: all 0.3s ease, top 0s !important;
            z-index: 10;
        }
    }
}

#main {
    background-color: var(--dark-200);

    & > section {
        padding: 1em 2em;
        width: 100vw;
    }

    #about {
        background-color: var(--dark-200);
        padding-top: 3rem;
        color: white;

        .heading {
            color: var(--primary-400);
        }

        .container {
            color: var(--light-400);

            .p1 {
                margin-bottom: 3rem;
            }

            .img-left {
                float: left;
                width: 13rem;
                height: auto;
                margin-right: 1rem;
                margin-block: 0.5rem;
                padding: 0.35em;
                background-color: var(--primary-400);
                border-radius: 0.25em;
            }
        }
    }
}

#gallery {
    background: linear-gradient(145deg, #0f2027, #2c5364);

    .heading {
        margin-bottom: 3rem !important;

        &::after {
            // background: linear-gradient(45deg, var(--dark-100), 75%, transparent) !important;
            opacity: 1;
        }
    }

    .container {
        // display: grid;
        width: 100%;

        .galleries {
            width: 100%;
            display: grid;
            grid-auto-rows: min-content;
            gap: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

            a {
                overflow: hidden;
                transition-delay: calc(var(--t) * 0.25s) !important;
                transition-timing-function: linear !important;
                box-shadow: 10px 0 1rem rgba(black, 0.5);
                background-color: var(--dark-400);

                @include util.onfocus {
                    img {
                        scale: 1.1;
                        filter: brightness(0.4);
                    }
                }
            }

            img {
                object-fit: cover;
                object-position: center center;
                width: 100%;
                aspect-ratio: 1;
                transition: 0.3s ease;
            }
        }
    }
}

#location {
    background-color: var(--dark-200);
    position: relative;
    overflow-y: visible !important;
    padding-inline: 0 !important;
    padding-block: 0 !important;
    isolation: isolate;
    overflow: hidden;

    #location-wave {
        aspect-ratio: 960 / 218;
        position: absolute;
        // top: 20rem;
        left: 0;
        // width: 100%;
        bottom: 0;
        z-index: -1;
        // display: none;
        // height: auto;
        overflow: hidden !important;
    }

    & > .container > .container-deep {
        width: 100%;
        display: grid;
        place-items: center;
        color: var(--light-400);
        overflow: hidden;
        // opacity: .2

        .map {
            width: 100%;
            overflow: hidden;

            * {
                overflow: hidden;
            }

            iframe {
                overflow: hidden;
                aspect-ratio: 15 / 10;
                width: 100% !important;
            }

            p {
                position: relative;
                width: 100%;
                text-align: center;
                color: white;
                z-index: 10;
                margin-top: 2rem;
                margin-bottom: 10rem;
            }
        }
    }
}

#contact {
    background-color: var(--dark-400);
    padding-top: 0 !important;
    // margin-top: -2rem;
    padding-bottom: 5rem !important;

    .container-deep {
        display: grid;
        place-items: center;

        #contact-form {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            // width: 100%;
            height: 100%;
            // gap: 1rem;

            label {
                font-size: 1.3rem;
                font-weight: bold;
                color: var(--primary-400);
            }

            input {
                width: 90vw;
                max-width: 30rem;
                margin-bottom: 1rem;
                height: 2rem;
                border-radius: 0.5em;
                border: none;
                padding: 0.5em 1em;
            }

            .btn {
                font-size: 1rem;
                padding-inline: 2rem;
                margin-inline: auto;
            }
        }
    }
}
