@use "util";
@use "sass:color";

#sidebar {
    position: fixed;
    background-color: rgba(map-get(util.$primary, 100), 0.75);
    backdrop-filter: brightness(0.1);
    padding: 1em 2em;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    overflow-y: scroll;
    transform: translate(-100%, 0);
    transition: 0.65s ease;

    &.show {
        transform: translate(0, 0);
    }

    .header {
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .btn-cancel {
            appearance: none;
            color: white;
            font-size: 1.6rem;
        }

        .brand {
            font-size: 1.2rem;
            font-weight: bolder;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        width: 100%;

        a {
            font-size: 1rem;
            width: 100%;
            text-align: center;
            padding: 0.55em 1em;
            border-radius: 1.25em;
            transition: 0.3s ease;
            font-weight: 600;

            @include util.onfocus {
                background-color: rgba(map-get(util.$accent-light, 200), 0.6);
                color: black;
            }
        }
    }
}

#navbar {
    --clr: white;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    height: 4rem;
    padding: 0.5rem 1.25rem;
    // background-color: var(--light-100);
    backdrop-filter: blur(0.5rem);
    color: var(--clr);
    transition: 0.3s ease;

    &.passed {
        // border-bottom: 2px solid rgba(#333, 0.5);
        box-shadow: 0 5px 2rem rgba(black, 0.3);
        // background-color: var(--dark-500);
        background-color: var(--light-100);

        .container {
            .menu.menu-phone {
                color: var(--primary-200);
            }

            span {
                color: var(--primary-100);
                // color: var(--dark-500);
            }

            a {
                // color: white;
                color: black !important;

                @include util.onfocus {
                    color: white !important;
                }
            }
        }
    }

    .container {
        font-weight: 500;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        span {
            font-size: 1.45rem;
            font-weight: bolder;
            color: var(--primary-500);
        }

        @include util.mq(phone) {
            .brand {
                font-size: 1.2rem;
            }
        }

        .menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 0.25rem;

            &.menu-phone {
                display: none;
            }

            // gap: 1rem;
            @include util.mq(phone) {
                &.menu-phone {
                    display: block;
                    color: var(--light-300);
                    border: 2px solid currentColor;
                    // font-size: 2rem;
                    aspect-ratio: 1 / 1;
                    padding: 0.35em;
                    // margin-top: 1em;
                    border-radius: 0.25em;

                    .fas {
                        font-size: 1rem;
                        // font-size: inherit;
                    }

                    @include util.onfocus {
                        color: var(--light-100);

                        .fas {
                            color: var(--light-100);
                        }
                    }
                }

                display: none;
            }

            a {
                padding: 0.5em 1.25em;
                border-radius: 100vmax;
                color: var(--clr);
                letter-spacing: 1px;
                transition: 0.1s ease;
                // background: transparent;

                @include util.onfocus {
                    background: util.pGradient();
                    color: white;
                }
            }
        }
    }
}

#header {
    position: relative;
    // background-image: url(../assets/hero.jpg);
    // background-size: cover;
    // background-position: bottom center;
    isolation: isolate;
    width: 100vw;
    height: 100vh;
    padding-block: 2rem;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 10rem;
        background: linear-gradient(to top, var(--dark-200), transparent);
    }

    #hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height: 100%;
        // z-index: -1;
        // pointer-events: none;
        margin-inline: auto;
        max-width: var(--max-width);
        overflow: hidden !important;

        .carousel {
            position: absolute;
            inset: 0;

            .container {
                z-index: -2;
                width: 100%;
                height: 100%;
                position: relative;
                isolation: isolate;

                &::before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    inset: 0;
                    background-color: white;
                    filter: brightness(0.1);
                    opacity: 0.65;
                }

                .item {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: bottom center;
                    transition: 0.5s ease;

                    &.show {
                        opacity: 1;
                    }
                }
            }

            .dots {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                position: absolute;
                left: 50%;
                top: 75%;
                transform: translateX(-50%);
                z-index: 100;

                .dot {
                    aspect-ratio: 1 / 1;
                    width: 1rem;
                    height: auto;
                    color: white;
                    border-radius: 100%;
                    z-index: 100;
                    transition: 0.5s ease;
                    cursor: pointer;

                    &.show {
                        background-color: white;
                    }
                    @include util.onfocus {
                        background-color: white;
                    }
                }
            }
        }

        .title {
            --font-size: 3rem;

            position: relative;
            font-size: var(--font-size);
            font-weight: bolder;
            text-align: center;
            text-transform: uppercase;
            transition: 0.3s all ease, top 0s, font-size 0s !important;

            @include util.mq(phone) {
                --font-size: 1.5rem;
            }
        }

        a {
            position: relative;
            transition: all 0.3s ease, top 0s !important;
            z-index: 10;

            @include util.mq(phone) {
                font-size: 0.8rem;
            }
        }
    }
}

#main {
    background-color: var(--dark-200);

    #about {
        background-color: var(--dark-200);
        padding-top: 3rem;
        // margin-top: -10px;
        color: white;

        .heading {
            color: var(--primary-400);
        }

        .container {
            color: var(--light-400);

            @include util.mq(phone) {
                width: 100%;

                .img-left {
                    width: 15rem !important;
                    max-width: 90%;
                    float: none !important;
                    display: block;
                    margin-inline: auto !important;
                    margin-top: 3rem !important;
                    margin-bottom: 1rem !important;
                }

                // .p2 {
                //     display: block;
                // }

                p {
                    font-size: 0.9rem !important;
                }

                .p1 {
                    margin-bottom: 1rem !important;
                }
            }

            .p1 {
                margin-bottom: 1rem;
            }

            .img-left {
                float: left;
                width: 13rem;
                height: auto;
                margin-right: 1rem;
                margin-block: 0.5rem;
                padding: 0.35em;
                background-color: var(--primary-400);
                border-radius: 0.25em;
            }

            .card-container {
                width: 100%;
                height: max-content;
                gap: 3rem;

                display: grid;
                place-items: center;
                grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
                grid-auto-rows: min-content;

                // display: flex;
                // justify-content: center;
                // align-items: center;
                // // flex-wrap: wrap;
                // align-content: center;

                // @include util.mq(phone) {
                //     display: grid;
                //     place-items: center;
                //     grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
                //     grid-auto-rows: min-content;
                // }

                .card {
                    aspect-ratio: 4/2;
                    background-color: var(--light-150);
                    // flex-basis:
                    // min-width: 10rem;
                    max-width: 20rem;
                    width: 100%;
                    flex-shrink: 1;
                    height: 100%;
                    padding: 1em 2em;
                    border-radius: 0.15em;
                    box-shadow: 10px 0 2rem rgba(black, 0.3);
                    // flex-grow: 1;
                    transition: 0.3s ease;

                    // @include util.onfocus {
                    //     // background-color: white;
                    //     // filter: brightness(1.25);
                    //     scale: 1.1;
                    //     box-shadow: 0 0 2rem 0 rgba(white, 0.2), 0 0 10rem 0 rgba(white, 0.6);
                    // }

                    .card-img {
                        width: 70%;
                        aspect-ratio: 6/3;
                        color: black;
                        display: grid;
                        place-items: center;
                        margin-bottom: 1.5rem;
                        margin-inline: auto;

                        img {
                            width: 70%;
                            height: auto;
                        }
                    }

                    .card-body {
                        color: var(--dark-200);
                        text-align: center;

                        h3 {
                            font-size: 1.75rem;
                            color: var(--primary-100);
                            font-weight: bolder;
                            margin-bottom: 0.1rem;
                        }

                        p {
                            color: var(--dark-100);

                            strong {
                                font-weight: inherit;
                                color: var(--primary-200);
                            }
                        }
                    }
                }
            }
        }
    }
}

#gallery {
    background: linear-gradient(145deg, #0f2027, #2c5364);
    position: relative;
    isolation: isolate;
    padding-bottom: 7.5rem !important;
    // box-shadow: 30px 0 2rem rgba(var(--light-300), 0.3);

    &::after {
        content: "";
        position: absolute;
        background: linear-gradient(to top, var(--dark-200), transparent);
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        height: 15rem;
    }

    .heading {
        margin-bottom: 3rem !important;

        &::after {
            // background: linear-gradient(45deg, var(--dark-100), 75%, transparent) !important;
            opacity: 1;
        }
    }

    .container {
        // display: grid;

        width: 100%;
        .galleries {
            width: 100%;
            display: grid;
            grid-auto-rows: min-content;
            gap: 1rem;
            grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

            @include util.mq(phone) {
                grid-template-columns: repeat(2, 1fr);
            }

            a {
                overflow: hidden;
                box-shadow: 10px 0 1rem rgba(black, 0.5);
                background-color: var(--dark-400);

                @include util.onfocus {
                    img {
                        scale: 1.1;
                        filter: brightness(0.4);
                    }
                }
            }

            img {
                object-fit: cover;
                object-position: center center;
                width: 100%;
                aspect-ratio: 1;
                transition: 0.3s ease;
            }
        }
    }
}

#location {
    background-color: var(--dark-200);
    position: relative;
    overflow-y: visible !important;
    // padding-inline: 0 !important;
    padding-block: 0 !important;
    isolation: isolate;
    overflow: hidden;

    #location-wave {
        aspect-ratio: 960 / 218;
        position: absolute;
        // top: 20rem;
        left: 0;
        // width: 100%;
        bottom: 0;
        z-index: -1;
        // display: none;
        // height: auto;
        overflow: hidden !important;
    }

    & > .container > .container-deep {
        width: 100%;
        display: grid;
        place-items: center;
        color: var(--light-400);
        overflow: hidden;
        // opacity: .2

        .map {
            width: 100%;
            overflow: hidden;

            * {
                overflow: hidden;
            }

            iframe {
                overflow: hidden;
                aspect-ratio: 15 / 10;
                width: 100% !important;
            }

            p {
                position: relative;
                width: 100%;
                text-align: center;
                color: white;
                z-index: 10;
                margin-top: 2rem;
                margin-bottom: 10rem;
            }
        }
    }
}

#contact {
    background-color: var(--dark-400);
    padding-top: 0 !important;
    // margin-top: -2rem;
    padding-bottom: 5rem !important;

    .container-deep {
        display: grid;
        place-items: center;

        #contact-form {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            // width: 100%;
            height: 100%;
            // gap: 1rem;

            label {
                font-size: 1.3rem;
                font-weight: bold;
                color: var(--primary-400);
            }

            input {
                width: 90vw;
                max-width: 30rem;
                margin-bottom: 1rem;
                height: 2rem;
                border-radius: 0.5em;
                border: none;
                padding: 0.5em 1em;
            }

            .btn {
                font-size: 1rem;
                padding-inline: 2rem;
                margin-inline: auto;
            }
        }
    }
}
